{% extends 'base.html' %} {% block container %}

{% load humanize %}

<body>
    <a class="previous round" 
    href="{% url 'main' %}"
    style="
      position: relative !important; 
      top: 20px !important;
      left: 20px !important;
      padding: 8px 16px;
      border-radius: 50%;
      background-color: #f1f1f1;
    "
  >
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div class="d-flex w-100 flex-column vh-100 align-items-center mt-4">
    {% comment %}
    <div class="row w-100">
      {% endcomment %}
      <div class="mx-auto">
        <h3>Buscar factura para abonar</h3>
      </div>

      <form action"{% url 'abonos' %}" method="GET" class="container-md" id="abonoSearchForm">
        <div class="row"> 
        <div class="form-group col-sm-12 col-md-6 col-xl-3">
          {% comment %} Este campo de factura debe llevar {% endcomment %}
          <label for="email"># Factura</label>
          <input
            type="number"
            class="form-control"
            id="facturaVenta"
            placeholder=""
            name="factura"
            value="{{factura}}"
            
          />
        </div>
        <div class="form-group col-sm-12 col-md-6 col-xl-3">
          <label for="cedula">Busqueda por nombre</label>
          <input
            type="search"
            class="form-control"
            id="cedula"
            placeholder="Cedula del cliente"
            name="cliente_id"
            {% comment %} required {% endcomment %}
          />
        </div>
      </div>
        <hr class="my-3" />
        <div class="row my-1">
          <div class="form-group">
            <button type="submit" class="btn btn-primary col-12" id="submitABonoSearch">
              Buscar Factura
            </button>
          </div>
        </div>
      </form>

      <hr class="my-3" />
      <div class="mx-auto">
        <h3>Seleccionar Factura</h3>
      </div>
      <div class="table-responsive container-md">
        
        <table class="table table-striped table-hover" >
          {% comment %} style="width: 90%" table-bordered {% endcomment %}
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Factura</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio venta</th>
              <th scope="col">Abono Total</th>
              <th scope="col">Saldo</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% if ventas %}
              {% for venta in ventas %}
                  <tr>
                    <td>{{venta.numero}}</td>
                    <th scope="row"><a href="/abonar/{{venta.factura}}">{{venta.factura}}</a></th>
                    <td>{{venta.nombre}}</td>
                    <td>{{venta.detalle}}</td>
                    <td>$ {{venta.precio|floatformat:2|intcomma }}</td>
                    <td>$ {{venta.abono|floatformat:2|intcomma }}</td>
                    <td>$ {{venta.saldo|floatformat:2|intcomma }}</td>
                    {% if venta.estado == "Pagado"  %}
                    <th scope="col" class="text-success">{{venta.estado}}</th>
                    {% else %}
                    <th scope="col" class="text-danger">{{venta.estado}}</th>
                    {% endif %}
                    
                  </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% load static %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/abonos.js' %}"></script>

</body>

{% endblock container %}
